.cover_wrapper {
    position: absolute;
    width: 100%;
}

.cover_clip {
    position: absolute;
    pointer-events: none;
}

.cover_art {
    width: 95%;
    height: 95%;
    clip-path: url(#cover_clipPath);
    pointer-events: none;
}

.cover_image {
    transition: filter 0.25s;
    filter: none;
    width: 95%;
    position: absolute;
    pointer-events: all;
}

#cover_titleGradient {
    position: absolute;
    width: 95%;
    opacity: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
    pointer-events: none;
}

#cover_timeGradient {
    position: absolute;
    width: calc(95% + 2px);
    height: calc(95% + 2px);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    transition-timing-function: linear;
    pointer-events: none;
}

.cover_infoWrapper {
    position: absolute;
    width: 95%;
    margin: auto;
    bottom: 0;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

.cover_song {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-shadow: black 0 0 0.25rem;
    pointer-events: none;
}

.cover_artist {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-shadow: black 0 0 0.25rem;
    pointer-events: none;
}
