.itemAlbumArtist_wrapper {
    position: relative;
    background: none;
}

.itemAlbumArtist_button {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: 0;
    border: none;
    width: 100%;
    background: none;
    white-space: nowrap;
    align-items: center;
}

/*      MAIN INFO        */

.itemAlbumArtist_cover {
    pointer-events: none;
    user-select: none;
    object-fit: cover;
}

.itemAlbumArtist_skeletonCover {
    background: rgba(150, 150, 150, 0.1);
    pointer-events: none;
    user-select: none;
}

.itemAlbumArtist_name {
    text-align: left;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.itemAlbumArtist_skeletonName {
    margin: 0.5rem 25%;
    border-radius: 0.5rem;
    background: rgba(150, 150, 150, 0.1);
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.itemAlbumArtist_selectedName {
    color: rgb(29, 185, 84);
}
