.itemSong_wrapper {
    position: relative;
    width: calc(100% + 12rem);
    background: none;
}

.itemSong_button {
    position: relative;
    border: none;
    padding: 0.8rem;
    white-space: nowrap;
    outline: 0;
    width: 100%;
    left: 9rem;
    background: none;
}

/*      MAIN INFO        */

.itemSong_name {
    color: white;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 0.1rem 0;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    pointer-events: none;
}

.itemSong_skeletonName {
    color: transparent;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 0.1rem 0;
    width: 75%;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    pointer-events: none;
    background: rgba(150, 150, 150, 0.1);
    border-radius: 0.5rem;
}

.itemSong_selectedName {
    color: rgb(29, 185, 84);
}

.itemSong_info {
    color: rgba(255, 255, 255, 0.75);
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 0.1rem 0;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    pointer-events: none;
}

.itemSong_skeletonInfo {
    color: transparent;
    text-align: left;
    text-decoration: none;
    margin: 0.5rem 0 0 0;
    padding: 0.1rem 0;
    width: 50%;
    font-size: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    pointer-events: none;
    background: rgba(150, 150, 150, 0.1);
    border-radius: 0.5rem;
}

/*      BUTTONS        */

#itemSong_albumButton,
#itemSong_artistButton,
#itemSong_addButton,
#itemSong_likedButton {
    position: absolute;
    top: 0;
    width: 3rem;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: 0;
    background: transparent;
    pointer-events: all;
    opacity: 0.3;
}

#itemSong_albumButton {
    left: 0rem;
}

#itemSong_artistButton {
    left: 3rem;
}

#itemSong_addButton {
    left: 6rem;
}

#itemSong_likedButton {
    right: 0;
}

.itemSong_icon {
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}
