.library_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

.library_sectionsWrapper {
    position: relative;
    display: flex;
    width: 500%;
    height: calc(100% - 3rem);
    overflow: hidden;
    transition: left 0.2s;
}

.library_sectionWrapper {
    position: relative;
    margin: 0;
    width: 20%;
    height: 100%;
    padding: 0;
}

.library_navBar {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: rgba(45, 45, 45, 0);
    pointer-events: none;
    align-items: center;
}

.navItem_button {
    display: flex;
    outline: 0;
    border: none;
    height: 3rem;
    padding: 0 1.25rem;
    background: transparent;
    opacity: 0.3;
    transition: opacity 0.1s;
    pointer-events: all;
}

.navItem_button:hover,
.navItem_buttonSelected,
.navItem_buttonSelected:hover {
    opacity: 0.9;
}

.navItem_icon {
    height: 1.75rem;
    pointer-events: none;
    user-select: none;
}
