.profile_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.profile_backgroundBlurred {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: scale(1);
    filter: blur(10px) brightness(10%);
    background-position: center;
    background-size: auto 100%;
}

.profile_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: scale(1);
    filter: brightness(10%);
    background-position: center;
    background-size: auto 100%;
}

.profile_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile_header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

.profile_image {
    left: 0;
    right: 0;
    margin: 2.5% 0 0 0;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
}

.profile_name {
    margin: 2.5% 0 0 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.profile_nameSelected {
    color: rgb(29, 185, 84);
}

.profile_songs {
    flex-grow: 1;
}

.profile_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_shuffle {
    outline: none;
    border: none;
    border-radius: 8.5rem;
    width: 60%;
    margin: 1rem auto 0 auto;
    padding: 0.8rem 0;
    background-color: rgb(29, 185, 84);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.profile_back {
    outline: none;
    border: none;
    border-radius: 8.5rem;
    width: 75%;
    padding: 1rem 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}
