.songs_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.songs_title {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

.songs_shuffle {
    margin: 1rem auto;
    outline: none;
    border: none;
    border-radius: 8.5rem;
    width: 60%;
    padding: 0.8rem 0;
    background-color: rgb(29, 185, 84);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.songs_scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
}

.songs_list {
    position: relative;
    margin: 0 0.75rem;
    padding: 0;
    list-style-type: none;
}
