.app_splashscreen {
    display: none;
}

.app_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app_sectionsWrapper {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(183, 255, 193);
}

.app_coverWrapper {
    width: 100%;
}

.app_desktop {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 155, 155);
}
