.app_splashscreen {
    display: none;
}

.app_wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
}

.app_image_div {
    width: 95%;
    padding: 2.5%;
}

.app_image {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}