/*      MAIN ELEMENTS    */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: black;
    color: white;
    font-family: "Segoe UI", "Roboto", "Nunito", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

input,
button {
    color: inherit;
}

#root {
    width: 100%;
    height: 100%;
}

/*      SCROLLBAR    */

/* Width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: rgba(150, 150, 150, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.35);
}

/*    ROTATION LOCK    */

@media screen and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
